body {
  margin: 0;
  font-family: 'Open Sans Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movie-card {
  display: inline-block;
  width: 200px;
  height: 325px;
  border: 1px solid lightgray;
  max-height: 200px;
  min-height: 325px;
  margin-top: 2rem;
  margin-left: 2rem;
}

.movie-card img {
  width: 100%;
  max-height: 325px;
  min-height: 325px;
}

.movie-card p:first-of-type {
  font-weight: bold;
  font-size: 1em;
}

.movie-details {
  display: flex;
}

.movie-details .poster {
  margin-right: 20px;
}

.movie-details .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.movie-details .title {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.movie-details .rating {
  margin: 0;
  padding: 0;
  color: rgb(91, 91, 196);
}

.movie-details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.movie-details li {
  display: inline-block;
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px;
}

.movie-details .info-section {
  margin-top: 20px;
}

.movie-details .info-section .title {
  font-weight: bold;
}

.modal {
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  scroll-behavior: none;
}

.modal-content {
  padding: 20px;
  background-color: white;
  width: 75%;
}

div.search-form {
    display: block;
    text-align: center;
    margin-top: 2rem;
}

div.search-form button {
    background-color: darkred;
    border-radius: 15%;
}

div.search-form label {
  margin: 1rem;
  font-size: 1.5rem;
}

div.search-form input {
  width: 12rem;
  margin-left: 0.5rem;
}

div.search-form select {
  margin-left: 0.5rem;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

div.paginator {
  display: block;
  text-align: center;
  margin: 2rem;
}

.paginator button {
  background-color: darkred;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}

#search-text {
  padding: 2rem;
}

h1 {
  text-align: center;
  color: darkred;
}